.bcr .car_btnBox a {
    display: block;
    margin-bottom: 5px;
}
.car_list .car_box .car_name {
    display: block;
    height: 32px;
    line-height: 16px;
    padding: 0 15px;
    color: #000;
    font-family: kiaM;
}
.btnType7 {
    position: relative;
    width: 100px;
    background-color: #fff;
    color: #333;
    border: 1px solid #e1e1e1;
    text-align: left;
}
.car_list .car_box .car_a {
    height: 168px;
}
.bcr .car_btnBox a {
    display: block;
    margin-bottom: 5px;
}
.car_btnBox {
    display: table;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -63px;
    top: 80%;
}
.car_box.add_btn {
    position: relative;
}
.car_wrap {
    overflow-y: visible;
    max-height: none;
}
.precioContado,.precioBono,.precioEntrega,.precioCuotas,.successSendMail{font-weight: normal;
                                                                         font-family: kiaB;
                                                                         display: block;}
.precioContado,.precioCuotas,.successSendMail{ font-size: 1.5em;}
.precioCuotas{padding: 10px 0px;}
.precioBono{ color: #BA1D2F; padding: 10px 0px 0px;}
.precioEntrega{ padding-bottom: 10px;}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}
.pointer{cursor: pointer;}
.contfull {
    display: block;
    padding: 20px 10px 0;
}
.btnref {
    display: block;
    margin-top: 10px;
}
.btnref .cambio {
    color: #fff;
}
.mr20 {
    margin-right: 20px;
}
.mt20 {
    margin-top: 30px;
    clear: both;
}
.left {
    float: left;
}
.btnref .revision {
    color: #666666;
}
.btnref .cambio, .btnref .revision {
    float: left;
    padding: 10px 20px;
    font-weight: bold;
    margin-right: 10px;
}
.cambio {
    background: #af1f24;
}
.revision {
    background: #e4e4e4;
}
.tabla {
    vertical-align: middle;
    font: 11px tahoma, AppleGothic;
    margin-top: 20px; }
.tabla thead {
    background: #d4d4d4;
    height: 33px;
    text-align: left; }
.tabla thead h3 {
    font-weight: normal;
    font-size: 12px; }
.tabla tbody td {
    border-top: 1px dashed #666;
    border-right: 1px dashed #fff;
    padding: 10px 0; }
/*
  33. Pagination
*/
.m-pagination {
    width: 100%;
    display: inline-block;
    list-style: none;
}
.m-pagination li {
    background: #fff;   
    width: auto;
    float: left;
    margin-right: 10px;
}
.m-pagination li.active {
    background: #898989;
    line-height: 30px;
    box-shadow: inset 0 0 0 2px #ededed;
    padding: 0 15px;
    color: #fff;
}
.m-btn {
    display: inline-block !important;
    transition: all ease 0.4s !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    border: 0 !important;
    box-sizing: border-box !important;
    width: auto !important;
    font-style: normal !important;
}
.m-btn:hover {
    text-decoration: none !important;
}
.m-btn[data-color="primary"] {
    background-color: #37c879 !important;
    color: #fff !important;
}
.m-btn[data-color="secondary"] {
    background-color: #111111 !important;
    color: #fff !important;
}
.m-btn[data-color="white"] {
    background-color: #fff !important;
    color: #111111 !important;
}
.m-btn[data-color="primary"]:hover {
    background-color: #2ca061 !important;
    color: #fff !important;
}
.m-btn[data-color="secondary"]:hover {
    background-color: #000000 !important;
    color: #fff !important;
}
.m-btn[data-color="white"]:hover {
    background-color: #e6e6e6 !important;
    color: #111111 !important;
}
.m-btn[data-size="normal"] {
    line-height: 40px !important;
    padding: 0 20px !important;
}
.m-btn[data-size="normal"] i {
    line-height: 40px !important;
}
.m-btn[data-size="large"] {
    line-height: 55px !important;
    padding: 0 25px !important;
    font-size: 120% !important;
}
.m-btn[data-size="large"] i {
    line-height: 55px !important;
}
.m-btn[data-size="small"] {
    line-height: 30px !important;
    padding: 0 15px !important;
    font-size: 80% !important;
}
.m-btn[data-size="small"] i {
    line-height: 30px !important;
}
.m-btn[data-color="primary"][data-border] {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 2px #37c879 !important;
    color: #37c879 !important;
}
.m-btn[data-color="primary"][data-border]:hover {
    background-color: #2ca061 !important;
    color: #fff !important;
}
.m-btn[data-color="secondary"][data-border] {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 2px #fff !important;
    color: #111111 !important;
}
.m-btn[data-color="secondary"][data-border]:hover {
    background-color: #fff !important;
    color: #e8e7e7 !important;
}