
/* 160905 Surprising Drive Start */
.sur_drive_wrap{background:#000;position:relative;margin-bottom:-100px}
.sur_drive_wrap .sur_drive_container{min-width:940px;min-height:2728px;position:relative;background:url(../../public/img/bg_sur_drive.jpg) no-repeat center top;}
.sur_drive_wrap .sur_drive_container .text_content{width:940px;margin:0 auto;position:relative;}
.sur_drive_wrap .sur_drive_container .text_content p.btn_more{position:absolute;right:76px;}

.sur_drive_wrap .text_content.on .accordian_box{display:block;}
.sur_drive_wrap .text_content .accordian_box{display:none;}

.sur_drive_wrap .sd_con01{width:100%;max-width:940px;height:538px;margin:auto;text-align:center;background:url('../../public/img/bg_sd_scroll.png') no-repeat center bottom;}
.sur_drive_wrap .sd_con01 .tit{margin-top:74px;font-size:76px;color:#fff;font-family:KiaB;line-height:62px}
.sur_drive_wrap .sd_con01 .txt{font-size:18px;color:#fff;line-height:26px;margin-top:35px}
.sur_drive_wrap .sd_con01 .sns_btn_content{width:940px;margin:0 auto;padding:25px 7px 0 0;text-align:right;}
.sur_drive_wrap .sd_con01 .sns_btn_content a{display:inline-block;margin-left:2px;}

.sur_drive_wrap .sd_con02{height:832px;margin-top:-33px;background:url(../../public/img/bg_content_02.png) no-repeat center top;}
.sur_drive_wrap .sd_con02 .video_box{width:848px;height:501px;padding-top:30px;margin:0 auto;}
.sur_drive_wrap .sd_con02 .sns_btn_content{width:848px;margin:0 auto;padding-top:2px;text-align:right;}
.sur_drive_wrap .sd_con02 .txt{width:848px;margin:11px auto 0;text-align:center}

.sur_drive_wrap .sd_con03{min-height:458px;background: url(../../public/img/bg_content_03.png) no-repeat center top;position:relative;}

.sur_drive_wrap .tit_content{width:940px;height:285px;position:absolute;left:50%;top:0;margin-left:-470px;text-align:center}
.sur_drive_wrap .sd_con03 .tit_content .tit{margin-top:53px}
.sur_drive_wrap .tit_content .txt{color:#fff;font-size:17px;line-height:25px}

.sur_drive_wrap .sd_con03 p.btn_more{top:225px;}
.sur_drive_wrap .sd_con03 .accordian_box{width:848px;height:744px;margin:auto;padding-top:303px;background:url(../../public/img/bg_content_03_accordian.png) no-repeat center 285px;}
.sur_drive_wrap .sd_con03 .accordian_box .box{padding:43px 0 0 70px;}
.sur_drive_wrap .sd_con03 .accordian_box .box:after{content:'';clear:both;display:block}
.sur_drive_wrap .sd_con03 .accordian_box .box img{float:left;}
.sur_drive_wrap .sd_con03 .accordian_box .box dl{float:left;margin-left:25px;width:560px;}
.sur_drive_wrap .sd_con03 .accordian_box .box dt{font-size:32px;color:#e3001d;line-height:30px;}
.sur_drive_wrap .sd_con03 .accordian_box .box dd{font-size:16px;color:#fff;line-height:22px;margin-top:12px}
.sur_drive_wrap .sd_con03 .accordian_box .box dd strong{font-size:24px;line-height:30px}

.sur_drive_wrap .sd_con04{min-height:454px;background:url(../../public/img/bg_content_04.png) no-repeat center top;position:relative;}
.sur_drive_wrap .sd_con04 p.btn_more{top:220px;}
.sur_drive_wrap .sd_con04 .tit_content .tit{margin-top:57px}
.sur_drive_wrap .sd_con04 .accordian_box{width:880px;height:922px;margin:auto;padding-top:286px;background:url(../../public/img/bg_content_04_accordian.png) no-repeat center 287px;}
.sur_drive_wrap .sd_con04 .accordian_box img{vertical-align:top;}
.sur_drive_wrap .sd_con04 .accordian_box ul{width:800px;margin:27px auto 0;border-top:1px solid #fff;}
.sur_drive_wrap .sd_con04 .accordian_box li{border-bottom:1px solid #575452;}
.sur_drive_wrap .sd_con04 .accordian_box li a.accordian_tit{display:block;color:#717171;font-size:22px;line-height:22px;padding:26px 0;position:relative}
.sur_drive_wrap .sd_con04 .accordian_box li a.accordian_tit:after{content:'';display:block;width:16px;height:11px;background:url('../../public/img/arr_con04_cate_off.png')no-repeat 0 0;position:absolute;right:18px;top:50%;margin-top:-6px}
.sur_drive_wrap .sd_con04 .accordian_box li.on a.accordian_tit:after{background-image:url('../../public/img/arr_con04_cate_on.png')}

.sur_drive_wrap .sd_con04 .accordian_box li a.accordian_tit span{display:inline-block}
.sur_drive_wrap .sd_con04 .accordian_box li a.accordian_tit .cate{width:180px;padding-left:44px;background:url('../../public/img/bul_con04_cate_off.png')no-repeat 22px center;font-family:KiaB}
.sur_drive_wrap .sd_con04 .accordian_box li.on a.accordian_tit .cate{background:url('../../public/img/bul_con04_cate_on.png')no-repeat 22px center;}
.sur_drive_wrap .sd_con04 .accordian_box li a.accordian_tit .tit{padding-left:29px;background:url('../../public/img/line_con04_cate.png')no-repeat left center;}
.sur_drive_wrap .sd_con04 .accordian_box li.on a.accordian_tit{color:#fff;}
.sur_drive_wrap .sd_con04 .accordian_box li a:link,
.sur_drive_wrap .sd_con04 .accordian_box li a:active,
.sur_drive_wrap .sd_con04 .accordian_box li a:hover{text-decoration:none}
.sur_drive_wrap .sd_con04 .accordian_list{display:none;}
.sur_drive_wrap .sd_con04 .accordian_box ul li.on .accordian_list{display:block;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01{position:relative;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list p{padding-top:20px;text-align:center;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list p img.img_01{padding-right:37px;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list strong{display:block;height:73px;padding-top:47px;text-align:center;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list span{position:absolute;right:4px;bottom:34px;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list span a{font-size:14px;color:#8c8c8c;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box{display:none;width:876px;height:564px;position:absolute;left:-38px;top:-27px;z-index:999;background:#f3f3f5;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box.on{display:block;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box .txt{padding:75px 70px;text-align:left;color:#282828;}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box .txt dt{font-size:16px;font-family:KiaB;margin-bottom:57px}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box .txt dd{font-size:15px;line-height:26px}
.sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box a{position:absolute;right:32px;top:32px;}
.sur_drive_wrap .sd_con04 .accordian_box .li_02 p{padding:58px 0 62px;text-align:center;}
.sur_drive_wrap .sd_con04 .accordian_box .li_02 p span{font-size:15px;color:#fff;display:block;margin-top:62px}
.sur_drive_wrap .sd_con04 .accordian_box .li_03 p{text-align:center;padding:43px 0 0;}
.sur_drive_wrap .sd_con04 .accordian_box .li_03 dl{text-align:center;color:#fff;padding:44px 0 48px;}
.sur_drive_wrap .sd_con04 .accordian_box .li_03 dt{font-size: 22px;line-height:28px;font-family:KiaB;text-transform:uppercase;margin-bottom:25px}
.sur_drive_wrap .sd_con04 .accordian_box .li_03 dd{font-size:16px;line-height:23px}


.sur_drive_wrap .sd_con05{min-height:456px;background:url(../../public/img/bg_content_05.png) no-repeat center top;position:relative}
.sur_drive_wrap .sd_con05 p.btn_more{top:232px;z-index:2;}
.sur_drive_wrap .sd_con05 .tit_content .tit{margin-top:68px}
.sur_drive_wrap .sd_con05 .accordian_box{width:941px;height:823px;position:relative;z-index:1;margin:auto;padding-top:366px;background:url(../../public/img/bg_content_05_accordian.png) no-repeat center 288px;}
.sur_drive_wrap .sd_con05 .accordian_box ul{padding-left:100px;overflow:hidden;position:relative;}
.sur_drive_wrap .sd_con05 .accordian_box li{float:left;padding:0 16px 18px 0;}
.sur_drive_wrap .sd_con05 .accordian_box li p{display:none;position:absolute;top:0;}
.sur_drive_wrap .sd_con05 .accordian_box li p span{right:12px;top:17px;}
.sur_drive_wrap .sd_con05 .accordian_box li p.on{display:block;}
.sur_drive_wrap .sd_con05 .accordian_box li.li_01 p,
.sur_drive_wrap .sd_con05 .accordian_box li.li_02 p,
.sur_drive_wrap .sd_con05 .accordian_box li.li_04 p,
.sur_drive_wrap .sd_con05 .accordian_box li.li_05 p{left:100px;}
.sur_drive_wrap .sd_con05 .accordian_box li.li_03 p,
.sur_drive_wrap .sd_con05 .accordian_box li.li_06 p{right:100px;}
.sur_drive_wrap .sd_con05 .accordian_box span{position:absolute;right:43px;top:316px;}

.sur_drive_container .quick{width:12px;position:absolute;right:15px;top:215px;z-index:100;}
.sur_drive_container .quick li{width:12px;height:12px;margin-bottom:13px;background:url(../../public/img/quick_off.png) no-repeat left top;}
.sur_drive_container .quick li.on{background:url(../../public/img/quick_on.png) no-repeat left top;}
.sur_drive_container .quick li a{display:block;width:100%;height:100%;}
.sur_drive_container .quick li a img{width:100%;height:100%;}

.sur_drive_wrap .sd_banner_link{min-width:940px;height:343px;border-top:10px solid #bc162c;background:#fff}
.sur_drive_wrap .sd_banner_link .link_box{width:940px;margin:0 auto;overflow:hidden;padding:60px 0;}
.sur_drive_wrap .sd_banner_link .link_box p{width:459px;height:218px;float:right;border:1px solid #cac9c9;}
.sur_drive_wrap .sd_banner_link .link_box p.p_01{float:left;}
.sur_drive_wrap .sd_banner_link .link_box p a{display:block}
.sur_drive_wrap .sd_banner_link .link_box p a img{width:100%;vertical-align:top;}
.sur_drive_wrap .only_t,.sur_drive_wrap .only_m{display:none}

/* s : 2017.10.24 ë°°ë„ˆ ì˜ì—­ style ì¶”ê°€ */
.sur_drive_wrap .sd_banner_link .link_box02{width:461px;margin:0 auto;overflow:hidden;padding:60px 0}
.sur_drive_wrap .sd_banner_link .link_box02 p{width:459px;height:218px;float:right;border:1px solid #cac9c9;}
.sur_drive_wrap .sd_banner_link .link_box02 p a{display:block}
.sur_drive_wrap .sd_banner_link .link_box02 p a img{width:100%;vertical-align:top;}
/* e : 2017.10.24 ë°°ë„ˆ ì˜ì—­ style ì¶”ê°€ */

@media all and (max-width:1024px){
    .sur_drive_wrap .only_t{display:block}
    .sur_drive_wrap .only_w{display:none}
    .sur_drive_wrap{margin-bottom:-60px}
    .sur_drive_wrap .sur_drive_container{width:100%;min-width:100%;min-height:2600px;position:relative;background-image:url(../../public/img/bg_sur_drive_t.jpg);background-size:100%}
    .sur_drive_wrap .sd_con01 .sns_btn_content{width:100%;padding:25px 14px 0 0;margin:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

    .sur_drive_wrap .sd_con02{height:730px;background-image: url(../../public/img/bg_content_02_t.png)}
    .sur_drive_wrap .sd_con02 .video_box{width:678px;height:382px;padding-top:30px;margin:0 auto;}
    .sur_drive_wrap .sd_con02 .sns_btn_content{width:678px;padding-top:25px}
    .sur_drive_wrap .sd_con02 .txt{width:678px;}

    .sur_drive_wrap .sd_con03{min-height:454px;background:none}
    .sur_drive_wrap .tit_content{width:100%;left:0;margin-left:0;}
    .sur_drive_wrap .sd_con03 .tit_content{background:url(../../public/img/bg_content_03_t.png)no-repeat center top;background-size:100% 100%}
    .sur_drive_wrap .sd_con03 .tit_content .tit img,
    .sur_drive_wrap .sd_con04 .tit_content .tit img,
    .sur_drive_wrap .sd_con05 .tit_content .tit img{width:60%;margin:auto;}
    .sur_drive_wrap .tit_content .txt{margin-top:14px}
    .sur_drive_wrap .sur_drive_container .text_content{width:100%;padding-bottom:80px}
    .sur_drive_wrap .sd_con03 .accordian_box{width:100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;padding:285px 51px 0;height:860px;    background-image: url(../../public/img/bg_content_03_accordian_t.png);background-position:center 284px;background-size:100% 67%;margin-bottom:50px}
    .sur_drive_wrap .sd_con03 .accordian_box .box dl{width:420px;}
    .sur_drive_wrap .sd_con03 .accordian_box .box dt{font-size:24px;line-height:24px}
    .sur_drive_wrap .sd_con03 .accordian_box .box dd{font-size:15px;line-height:20px}
    .sur_drive_wrap .sd_con03 .accordian_box .box dd strong{font-size:18px;}

    .sur_drive_wrap .sd_con04{background:none}
    .sur_drive_wrap .sd_con04 .tit_content{background:url(../../public/img/bg_content_04_t.png)no-repeat center top;background-size:100% 100%}
    .sur_drive_wrap .sd_con04 .accordian_box{width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:285px 56px 0;height:1106px;    background-image:url(../../public/img/bg_content_04_accordian_t.png);background-position:center 284px;background-size:100% 74%;margin-bottom:50px}
    .sur_drive_wrap .sd_con04 .accordian_box ul{width:100%;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box{width:100%;height:auto;left:0;top:-28px;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box .txt{width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:72px 40px;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box .txt dt{font-size:15px}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box .txt dd{font-size:13px;line-height:24px}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list p .img_02{margin:auto;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_03 dd{font-size:15px}

    .sur_drive_wrap .sd_con05{background:none}
    .sur_drive_wrap .sd_con05 .tit_content{background:url(../../public/img/bg_content_05_t.png)no-repeat center top;background-size:100% 100%}
    .sur_drive_wrap .sd_con05 .accordian_box{width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:288px 30px 0;height:900px;background-image:url(../../public/img/bg_content_05_accordian_t.png);background-position:center 285px;background-size:100% 68%;}
    .sur_drive_wrap .sd_con05 .accordian_box ul{margin:75px auto 0;padding-left:0;width:100%;max-width:750px;}
    .sur_drive_wrap .sd_con05 .accordian_box li{width:31.5555555%;padding:0 2% 2% 0;float:none;display:inline-block;}
    .sur_drive_wrap .sd_con05 .accordian_box li.li_03,
    .sur_drive_wrap .sd_con05 .accordian_box li.li_06{padding:0}
    .sur_drive_wrap .sd_con05 .accordian_box li a{display:block}
    .sur_drive_wrap .sd_con05 .accordian_box li img{width:100%;}
    .sur_drive_wrap .sd_con05 .accordian_box li p.on{width:66%;}
    .sur_drive_wrap .sd_con05 .accordian_box li.li_01 p,
    .sur_drive_wrap .sd_con05 .accordian_box li.li_02 p,
    .sur_drive_wrap .sd_con05 .accordian_box li.li_04 p,
    .sur_drive_wrap .sd_con05 .accordian_box li.li_05 p{left:0;}
    .sur_drive_wrap .sd_con05 .accordian_box li.li_03 p,
    .sur_drive_wrap .sd_con05 .accordian_box li.li_06 p{right:0;}

    .sur_drive_container .quick{left:inherit !important;right:14px !important;}

    .sur_drive_wrap .sd_banner_link{width:100%;min-width:100%;height:auto;}
    .sur_drive_wrap .sd_banner_link .link_box{width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:60px 2%;}
    .sur_drive_wrap .sd_banner_link .link_box p{width:49%;height:auto;}
}
@media all and (max-width:767px){
    .sur_drive_wrap .only_m{display:block}
    .sur_drive_wrap .only_t,
    .sur_drive_container .quick{display:none}
    .sur_drive_wrap .sur_drive_container{min-height:1000px;}
    .sur_drive_wrap .sd_con01 .sns_btn_content{padding-right:16px}
    .sur_drive_wrap .sd_con01 .tit{font-size:41px;line-height:36px;text-align:left;margin:25px 0 0 10%;}
    .sur_drive_wrap .sd_con01 .txt{font-size:12px;line-height:15px;text-align:left;margin:24px 0 0 10%;}
    .sur_drive_wrap .sd_con01{height:370px;background-image:url('../../public/img/bg_sd_scroll_m.png');background-size:26px 31px}
    .sur_drive_wrap .sd_con02{height:312px;background-image:url(../../public/img/bg_content_02_m.png);background-size:320px 175px;margin-top:0}
    .sur_drive_wrap .sd_con02 .video_box{width:280px;height:158px;padding-top:33px;margin:auto;padding-top:0}
    .sur_drive_wrap .sd_con02 .sns_btn_content{width:280px;padding-top:10px}
    .sur_drive_wrap .sd_con02 .txt{width:217px;height:65px}
    .sur_drive_wrap .sd_con02 .txt img{width:100%;}
    .sur_drive_wrap .sur_drive_container .text_content p.btn_more{right:8%;top:125px;width:20px;height:20px;}
    .sur_drive_wrap .sur_drive_container .text_content p.btn_more img{width:100%;}
    .sur_drive_wrap .sd_con03 .tit_content{background-image:url(../../public/img/bg_content_03_m.png);height:154px;}
    .sur_drive_wrap .sd_con03 .tit_content .tit img, .sur_drive_wrap .sd_con04 .tit_content .tit img, .sur_drive_wrap .sd_con05 .tit_content .tit img{width:320px;height:60px;margin:auto;}
    .sur_drive_wrap .sd_con03 .tit_content .tit{margin-top:17px}
    .sur_drive_wrap .tit_content .txt{font-size:10px;line-height:14px;margin-top:5px}
    .sur_drive_wrap .sd_con03 .accordian_box{height:655px;padding:155px 29px 0;margin-bottom:0;background-image:url(../../public/img/bg_content_03_accordian_m.png);background-position:center 153px;background-size:100% 76%}
    .sur_drive_wrap .sd_con03{min-height:200px;}
    .sur_drive_wrap .sd_con03 .accordian_box .box{padding:26px 0 0 0;width:270px;margin:auto;}
    .sur_drive_wrap .sd_con03 .accordian_box .box img{width:60px;}
    .sur_drive_wrap .sd_con03 .accordian_box .box dl{margin-left:12px;width:192px;}
    .sur_drive_wrap .sd_con03 .accordian_box .box dt{font-size:20px;line-height:20px}
    .sur_drive_wrap .sd_con03 .accordian_box .box dd{font-size:12px;line-height:15px;margin-top:5px}
    .sur_drive_wrap .sd_con03 .accordian_box .box dd strong{font-size:15px;line-height:18px}
    .sur_drive_wrap .sur_drive_container .text_content{padding-bottom:40px}
    .sur_drive_wrap .sd_con04{min-height:200px;}
    .sur_drive_wrap .sd_con04 .tit_content{background-image:url(../../public/img/bg_content_04_m.png);height:153px;}
    .sur_drive_wrap .sd_con04 .tit_content .tit{margin-top:19px}
    .sur_drive_wrap .sd_con04 .accordian_box{background-image:url(../../public/img/bg_content_04_accordian_m.png);background-position:center 150px;padding:143px 10% 0;}
    .sur_drive_wrap .sd_con04 .accordian_box li a.accordian_tit .cate,
    .sur_drive_wrap .sd_con04 .accordian_box li.on a.accordian_tit .cate{background-size:6px 6px;padding-left:15px;background-position:3px center;width:100px;}
    .sur_drive_wrap .sd_con04 .accordian_box li a.accordian_tit{font-size:12px;padding:7px 0;}
    .sur_drive_wrap .sd_con04 .accordian_box li a.accordian_tit .tit{background-size:1px 10px;padding-left:15px}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list p .img_02{width:70%;margin:auto;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list strong{padding-top:20px;height:60px;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list strong a{display:inline-block;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list strong a img{width:115px;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list span{bottom:20px;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .accordian_list span a{font-size:10px}
    .sur_drive_wrap .sd_con04 .accordian_box li a.accordian_tit:after{width:11px;height:7px;background-size:100%;right:7px;margin-top:-4px}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box .txt{padding:30px 25px}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box .txt dt{font-size:10px;margin-bottom:30px}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box .txt dd{font-size:10px;line-height:18px}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box a{right:22px;top:22px;width:10px;height:10px;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_01 .pop_box a img{width:100%;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_02 p{padding:20px 0 30px;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_02 p img{width:85%;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_02 p span{font-size:10px;margin-top:30px}
    .sur_drive_wrap .sd_con04 .accordian_box .li_03 p{padding:20px 0 0;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_03 p img{width:50%;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_03 dl{padding:15px 0 20px;}
    .sur_drive_wrap .sd_con04 .accordian_box .li_03 dt{font-size:13px;line-height:16px;margin-bottom:10px}
    .sur_drive_wrap .sd_con04 .accordian_box .li_03 dd{font-size:10px;line-height:15px}
    .sur_drive_wrap .sd_con04 .accordian_box{height:680px;margin-bottom:0}
    .sur_drive_wrap .sd_con05 .tit_content{background-image:url(../../public/img/bg_content_05_m.png);height:154px;}
    .sur_drive_wrap .sd_con05 .tit_content .tit{margin-top:20px}
    .sur_drive_wrap .sd_con05 .accordian_box{height:580px;background-image:url(../../public/img/bg_content_05_accordian_m.png);background-position:center 154px;padding:153px 30px 0;background-size:100% 73%;}
    .sur_drive_wrap .sd_con05{min-height:200px}
    .sur_drive_wrap .sd_con05 .accordian_box ul{margin:18px auto 0;width:245px;}
    .sur_drive_wrap .sd_con05 .accordian_box li{width:115px;}
    .sur_drive_wrap .sd_con05 .accordian_box li{padding:0 7px 9px 0 !important;}
    .sur_drive_wrap .sd_con05 .accordian_box li.li_02,
    .sur_drive_wrap .sd_con05 .accordian_box li.li_04,
    .sur_drive_wrap .sd_con05 .accordian_box li.li_06{padding:0 !important;}
    .sur_drive_wrap .sd_con05 .accordian_box li p.on{width:242px;left:0 !important;}
    .sur_drive_wrap .sd_con05 .accordian_box li p span{width:30px;height:30px;}
    .sur_drive_wrap .sd_banner_link .link_box{padding:15px 20px}
    .sur_drive_wrap .sd_banner_link .link_box p{float:none;width:100%;border:0 none;}
    .sur_drive_wrap .sd_banner_link .link_box p.p_01{margin-bottom:10px}

    /* s : 2017.10.24 ë°°ë„ˆ ì˜ì—­ style ì¶”ê°€ */
    .sur_drive_wrap .sd_banner_link .link_box02{width:100%;padding:15px 20px;box-sizing:border-box;}
    .sur_drive_wrap .sd_banner_link .link_box02 p{float:none;width:100%;border:0 none;height:auto;overflow:hidden}
    /* e : 2017.10.24 ë°°ë„ˆ ì˜ì—­ style ì¶”ê°€ */

}
/* //160905 Surprising Drive End */